<div class="modal fade" id="modal-info" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-body">
                <h4><i class="fa fa-fw fa-info" aria-hidden="true"></i>  Thông báo</h4>
                <p id="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
